@import './normalize.css';

@import './blocks/page-main.css';
@import './blocks/settings.css';
@import './blocks/search.css';
@import './blocks/chat.css';
@import './blocks/active-dialogue.css';
@import './blocks/pages-links-list.css';
@import './blocks/desition-buttons.css';
@import './blocks/character.css';
@import './blocks/loader.css';
@import './blocks/create-message.css';
@import './blocks/messages-list.css';


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* для прижатие нижнего блока */
html,
body {
  height: 100%;
}
/* для прижатие нижнего блока */
